.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
    position: relative;
    padding: 0.5rem;
    background-color: rgb(204,204,255,0.5);
    z-index: 1;
    height: 50px;
}

.logo {
    position: relative; /* positioning will be explained in a resource */
    left: 2rem;
    cursor: pointer;  /* produces the finger-pointer icon when you hover over the logo */
    display: table;
    max-width: 40px; /* 40px is within the navbars height of 50px */
    height: auto; /* Using auto maintains the logos original width/height ratio */

}

main {
    background-image: url("assets/images/headset-logo.png");

}

 .navbar .links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 0;
     height: 100px;
     color: white;
 }

 .links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     /* #3 */
     vertical-align: middle;
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     /* #4 */
     text-decoration: none;
     cursor: pointer;
 }

   /* #5 */
 .links-container .navbar-link:hover {
     color: rgb(233,50,117);

 }